
<div class="container">

  <div class="row">
    <div class="col-2">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-10" style="margin-top: 5rem;">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
