
        <div class="container">
          <div class="row">
            <div class="col-3" *ngFor="let category of categories" >
              <div class="card" style="width: 10rem;" (click)="produitByCattegory(category._id)">
                <div class="card-body">
                  <h5 class="card-title">{{category.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{category.descriptions}}</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 3rem;">
            <div class="col-4" *ngFor="let produit of produits" style="margin-top: 3rem;" >
              <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="../../../assets/img/hijab.jpg" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title">{{produit.name}}</h5>
                  <p class="card-text">{{produit.description}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
    </div>

