<div class="sidebar" data-color="danger" data-background-color="white" data-image="assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a routerLink="/dashboard" class="simple-text logo-normal">
    <strong>Nouroul Hijab</strong>
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link"  routerLink="/home" style="background-color:#bf1d1d">
          <i class="material-icons"></i>
          <p>TABLEAU DE BORD</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  routerLink="/list-produits">
          <i class="material-icons"></i>
          <p>Mes Produits</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/add-produit">
          <i class="material-icons"></i>
          <p>ajouter Produits</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/list-ventes">
          <i class="material-icons"></i>
          <p>list ventes</p>
        </a>
      </li>
 <!--      <li class="nav-item ">
        <a class="nav-link" routerLink="/commandes">
          <i class="material-icons">content_paste</i>
          <p>Commandes</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/clients">
          <i class="material-icons">person</i>
          <p>Clients</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/fournisseurs">
          <i class="material-icons">person</i>
          <p>Fournisseurs</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/factures">
          <i class="material-icons">content_paste</i>
          <p>Factures</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/employes">
          <i class="material-icons">person</i>
          <p>Employes</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/depenses">
          <i class="material-icons">person</i>
          <p>Depenses</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/graphics">
          <i class="material-icons">leaderboard</i>
            <p>Graphiques</p>
        </a>
      </li>
     -->

    </ul>
  </div>
</div>
