
       <div class="container">
          <div class="row">
            <div class="card" style="width: 100rem; ">

              <div class="alert alert-success" *ngIf="success" >{{success}}</div>
              <div class="alert alert-danger" *ngIf="error" >{{error}}</div>

              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">vendre un produit</h5>

                <form [formGroup]="vendreProduitForm" (ngSubmit)="vendre()">

                  <div class="form-group"  >
                    <label for="exampleFormControlSelect1">categories</label>
                    <select class="form-control" formControlName="categoryId" [(ngModel)]="categorySelected" (click)="produitByCattegory()"  id="exampleFormControlSelect1">
                      <option *ngFor="let category of categories"  value="{{category._id}}"> {{category.name}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Produit</label>
                    <select class="form-control" formControlName="productName" id="exampleFormControlSelect1">
                      <option *ngFor="let produit of produits" value="{{produit.name}}"> {{produit.name}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="formGroupExampleInput">quantite</label>
                    <input type="number" formControlName="quantite" class="form-control" id="formGroupExampleInput" placeholder="quantite">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">type de vente</label>
                    <select class="form-control" formControlName="type" id="exampleFormControlSelect1">
                      <option value="detail">detail</option>
                      <option value="gros">gros</option>
                    </select>
                  </div>

                  <div style="text-align: center; margin-top: 2%;">
                    <button type="submit" class="btn btn-primary">Validez</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <!--<div class="row" style="margin-top: 3%;">
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              </div>
            </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
              </div>
            </div>
          </div>-->



          <div style="margin-top: 6rem;">
            <h1>Listes Ventes Aujourd'hui</h1>
          </div>

          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">produit name</th>
                    <th scope="col">quantite</th>
                    <th scope="col">prix total</th>
                    <th scope="col">vendu par</th>
                    <th scope="col">vendu le</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ticket of tickets, let i = index" >
                    <th scope="row">{{i}}</th>
                    <td>{{ticket.productName}}</td>
                    <td>{{ticket.quantite}}</td>
                    <td>{{ticket.prixTotal}}</td>
                    <td>{{ticket.userName}}</td>
                    <td>{{ticket.createdAt | date}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>




